{
  "version": "2017-02-28",
  "operation": "DeleteItem",
  "key": {
    "candidateId": $util.dynamodb.toDynamoDBJson($ctx.args.input.candidateId),
    "jobId": $util.dynamodb.toDynamoDBJson($ctx.args.input.jobId),
  },
}